:root {
    --kids-blue: #BEE0E3;      
    --kids-dark: #1a4046;      
    --kids-accent: #0a92aab4;    
    --gray-light: #f9fafb;     
    --gray-medium: #d1d5db;    
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #BEE0E3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.logo-top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
}

.container {
    position: relative;
    text-align: center;
    padding: 40px 20px 60px 20px; 
    background-color: transparent;
    border-radius: 15px;
    overflow: visible; 
}


.container::before {
    content: '';
    position: absolute;
    top: -40px; 
    left: -40px;
    width: 180%; 
    height:120%;
    background-image: url('/assets/border.png'); 
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    z-index: -1;
}

.avatar-wrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.6);
}

.name-image {
    width: 110%;
    max-width: 250px;
    margin: 15px 0;
    object-fit: contain;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.options button {
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    border: 2px solid var(--kids-accent);
    background-color: var(--kids-accent) ;
    box-shadow: 6px 6px 0 0 var(--kids-dark);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;

}
.options button:hover {
    transform: translateY(-2px);
    box-shadow: 8px 8px 0 0 var(--kids-dark);
}


